/*
 * Default interaction styles that apply to all interactions
 * Interaction styles can interfere with LAB Advanced and other interactions
 * Prefix default style classes with "interaction-html"
 */


.interaction-html,
.interaction-html body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans, Arial;
    font-size: 12pt;
}

.interaction-container {
    position: relative;
}

.interaction-container-fixed {
    width: 920px;
    height: 560px;
    padding: 20px;
}


/* Fixed width interaction title */
.interaction-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    font-weight: bold;
}


/* Fixed width interaction help banner */
.interaction-instruction {
    width: 100%;
    max-height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0;
    display: inline-block;
    -webkit-border-radius: 99px 0px 0px 99px;
    -moz-border-radius: 99px 0px 0px 99px;
    border-radius: 99px 20px 20px 99px;
}

.instruction-image {
    background: transparent url('../images/instruction_circle.png') no-repeat 5px 5px;
    width: 46px;
    height: 46px;
    float: left;
}

.instruction-text {
    color: white;
    padding: 14px;
    font-size: 14px;
}


/* Interaction complete overlay */
.interaction-complete {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    border-radius: 5px;
}

.interaction-complete-text {
    position: absolute;
    width: 395px;
    border-radius: 10px;
    left: 0;
    box-sizing: border-box;
    right: 0;
    margin: auto;
    top: 15%;
    border: solid 1px #d6d6d6;
    background-color: #fff;
    text-align: center;
    color: #717171;
    padding: 30px 50px 40px 50px;
}

    .interaction-complete-text h2 {
        font-weight: normal;
        font-size: 23pt;
        margin-top: 10px;
    }

.close_feedback {
    padding: 10px;
    border: 1px solid #363956;
    color: #363956;
    border-radius: 44px;
    margin-top: 30px;
}

    .close_feedback:hover {
        background-color: #363956;
        color: white;
        cursor: pointer;
    }

.correct-icon {
    font-size: 30pt;
    color: #36965c;
}

@media (max-width: 550px) {

    .interaction-complete-text {
        width: 95%;
    }
}

.complete-icon {
    font-size: 30pt;
    color: #23a557;
}

/* Temporary toolbar styles */
.interaction-toolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    display: none;
    background-color: lightgrey;
    border-radius: 5px;
    opacity: 0.7;
}

    .interaction-toolbar:hover {
        opacity: 1;
    }

    .interaction-toolbar .toolbar-button {
        padding: 10px;
        float: left;
        margin: 5px;
        cursor: pointer;
    }


/* Animation on colour changes */
.accent-color-background {
    transition: background-color .5s;
}

.accent-color-border {
    transition: border-color .5s;
}

.accent-color-text {
    transition: color .5s;
}


/* CKEditor */
.ckeditor_interaction {
    min-width: 100px;
}

    .ckeditor_interaction[contenteditable="false"] {
        outline: none;
    }

@media all and (min-width: 600px) {
    .ckeditor-columns {
        column-count: 2;
        column-gap: 40px;
    }
}

@media all and (min-width: 800px) {
    .ckeditor-columns {
        column-count: 3;
        column-gap: 40px;
    }
}

@media all and (min-width: 1000px) {
    .ckeditor-columns {
        column-count: 4;
        column-gap: 40px;
    }
}


/* Remove jquery-ui styles overrides */
.ui-accordion-header {
    border: 1px solid #C6C6C6 !important;
    outline: none;
}


/* CUSTOM FONTS*/
body.Arial .interaction-container,
body.Arial .interaction-container-fixed {
    font-family: Arial !important;
}

body.Times .interaction-container,
body.Times .interaction-container-fixed {
    font-family: 'Times New Roman' !important;
}

body.Helvetica .interaction-container,
body.Helvetica .interaction-container-fixed {
    font-family: Helvetica !important;
}

body.Verdana .interaction-container,
body.Verdana .interaction-container-fixed {
    font-family: Verdana !important;
}

body.Palatino .interaction-container,
body.Palatino .interaction-container-fixed {
    font-family: Palatino !important;
}

body.Courier .interaction-container,
body.Courier .interaction-container-fixed {
    font-family: Courier !important;
}


body.size10 {
    font-size: 10px;
}

    body.size10 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 10px !important;
    }

body.size12 {
    font-size: 12px;
}

    body.size12 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 12px !important;
    }

body.size14 {
    font-size: 14px;
}

    body.size14 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 14px !important;
    }


body.size16 {
    font-size: 16px;
}

    body.size16 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 16px !important;
    }

body.size18 {
    font-size: 18px;
}

    body.size18 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 18px !important;
    }

body.size20 {
    font-size: 20px;
}

    body.size20 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 20px !important;
    }

body.size22 {
    font-size: 22px;
}

    body.size22 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 22px !important;
    }

body.size24 {
    font-size: 24px;
}
    body.size24 .ckeditor_interaction:not(.interaction-title):not(.accordion-header-Text):not(.matching-header-Text):not(.sortorder-header-Text) {
        font-size: 24px !important;
    }


/* OAT Editor block text content specific styles */
.ckeditor_content div,
.ckeditor_content span,
.ckeditor_content iframe,
.ckeditor_content h1,
.ckeditor_content h2,
.ckeditor_content h3,
.ckeditor_content h4,
.ckeditor_content h5,
.ckeditor_content h6,
.ckeditor_content p,
.ckeditor_content blockquote,
.ckeditor_content pre,
.ckeditor_content a,
.ckeditor_content abbr,
.ckeditor_content acronym,
.ckeditor_content address,
.ckeditor_content big,
.ckeditor_content cite,
.ckeditor_content code,
.ckeditor_content del,
.ckeditor_content dfn,
.ckeditor_content img,
.ckeditor_content ins,
.ckeditor_content kbd,
.ckeditor_content q,
.ckeditor_content s,
.ckeditor_content samp,
.ckeditor_content small,
.ckeditor_content strike,
.ckeditor_content sub,
.ckeditor_content sup,
.ckeditor_content tt,
.ckeditor_content var,
.ckeditor_content u,
.ckeditor_content center,
.ckeditor_content dl,
.ckeditor_content dt,
.ckeditor_content dd,
.ckeditor_content fieldset,
.ckeditor_content form,
.ckeditor_content label,
.ckeditor_content legend,
.ckeditor_content caption,
.ckeditor_content article,
.ckeditor_content aside,
.ckeditor_content canvas,
.ckeditor_content details,
.ckeditor_content embed,
.ckeditor_content figure,
.ckeditor_content figcaption,
.ckeditor_content footer,
.ckeditor_content header,
.ckeditor_content hgroup,
.ckeditor_content menu,
.ckeditor_content nav,
.ckeditor_content output,
.ckeditor_content ruby,
.ckeditor_content section,
.ckeditor_content summary,
.ckeditor_content time,
.ckeditor_content mark,
.ckeditor_content audio,
.ckeditor_content video {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: inherit;
    vertical-align: baseline;
}


/* TESTING REMOVE WHEN LIVE */
/*.accent-color-background {
    background-color: plum !important;
}

.accent-color-border {
    border-color: green !important;
}

.accent-color-text {
    color: darkmagenta !important;
}

.interaction-container-fixed {
    background-color: lightgrey;
}*/
